.aumilieu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns layout */
  grid-gap: 10px; /* Adjust the gap between grid items */
}

.display-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  width: 100%; /* Set a max-width to limit the form width */
  margin: auto; /* Center the form on the page */
}

.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr; /* Four columns layout */
  grid-gap: 10px; /* Adjust the gap between grid items */
}

.grid-container div {
  padding: 10px;
  border: 1px solid #ddd;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  height: 100px;
  width: 100px;
  background-color: black;
}

.double-width-item {
  grid-column: span 2; /* L'élément prendra la largeur de deux colonnes */
  /* Ajoutez d'autres styles au besoin */
}