/* Style pour les liens dans la barre de navigation en bas */
.navbar-brand.footer {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, color 0.3s;
    margin: 5px;
    padding: 8px 15px;
}

.navbar-brand.footer:hover {
    border-color: #fff;
    color: #fff;
}

/* Réduction de la taille des lettres */
.navbar-brand.footer {
    font-size: 14px; /* Agrandit légèrement la taille du texte */
}