/* Style pour les liens dans la barre de navigation en haut */
.navbar-brand {
  border: 2px solid transparent; /* Augmente l'épaisseur de la bordure */
  border-radius: 10px; /* Augmente le rayon de la bordure arrondie */
  transition: border-color 0.3s, color 0.3s; /* Ajoute une transition de 0.3s pour le changement de couleur de la bordure et du texte au survol */
  margin: 5px; /* Ajoute de la marge autour du lien */
  padding: 8px 15px; /* Ajoute un peu de rembourrage à l'intérieur de la bordure */
}

.navbar-brand:hover {
  border-color: #fff; /* Change la couleur de la bordure au survol */
  color: #fff; /* Change la couleur du texte au survol */
}

/* Réduction de la taille des lettres */
.navbar-brand {
  font-size: 16px; /* Agrandit légèrement la taille du texte */
}

main{
  padding-bottom: 130px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

main {
  min-width: 50%;
  min-height: 50%; 
}